$primary: #4B9BCD;
$secondary: #B6E1D7;
$light: #EFEFEF;
$lighter: #FAFAFA;
$dark: #222222;
$darker: #02101C;

$gradient: linear-gradient(135deg,#FCE4D6,#B6E1D7,#4B9BCD,);
$gradient-inverse: linear-gradient(0,#FCE4D6,#B6E1D7,#4B9BCD,);
$gradient-radial: radial-gradient(#FCE4D6,#B6E1D7,#4B9BCD);