@import "../styles/variables";
@import "../styles/functions";
@import "../styles/animations";
@import "../styles/buttons";

.page-home{
    height: 100vh;
}

.gradient-bg {
    height: 100%;
    width: 100%;

    border-radius: 10px;
    background-image: $gradient;
    background-size: 200%;
    animation: bg-animation 3s infinite alternate;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}


.content {

    .info {
        animation: fly-in-left 1s ease-in-out;

        p {
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
        }

        .welcome {
            font-size: 4em;
        }

        .name {
            font-weight: bold;
            font-size: 4em;
        }

        .title {
            font-size: 3em;
        }

    }


    .buttons {
        opacity: 0;
        font-size: 1.5em;
        animation: fade-in 1s ease-in-out forwards;
        animation-delay: 1s;
        display: flex;
        justify-content: center;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .hire {
            @include primary_button()
        }

        .email {
            @include secondary_button()
        }
    }

}