@import "../styles/variables";
@import "../styles/functions";
@import "../styles/animations";

.Home-background{
    min-height: 100vh;
    margin: 0 15%;
}

.Home{
    border-radius: 10px;
    height: 100vh;
    color: $darker;
    padding: 0.75em;
    background-color: $lighter;
}


.gradient-bg{  
    height: 100%;
    width: 100%;
    
    border-radius: 10px;
    background-image: $gradient;
    background-size: 200%;
    animation: bg-animation 5s infinite alternate;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

@keyframes bg-animation {
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}

.content{
    
    .info{
        animation: fly-in 1s ease-in-out;
        p{
            margin:0;
            white-space: nowrap;
            overflow: hidden;
        }
        .welcome{
           font-size: 4em;
        }
        .name{
            font-weight: bold;
            font-size:4em;
        }
        
        .title{
            font-size: 3em;
        }
        
    }
   

    .buttons{
        opacity: 0;
        font-size: 1.5em;
        animation: fade-in 2s ease-in-out forwards;
        animation-delay: 1s;
        .hire{
            background-color: $dark;
            color: $light;
            border-color: 0;
            padding: 0.5em 1.5em;
            font-size: 1em;
            margin: 1em 1em;
            border-radius: 20px;
            cursor:pointer;
            box-shadow: none;
            white-space: nowrap;
            
            transition: background-color 0.3s; 
        
            &:hover {
                background-color: lighten($dark, 15%); 
                border-color: lighten($dark, 15%) ;
            }
          
          
        }
        .email{
            background-color: $lighter;
            color: $darker;
            border:0;
            padding: 0.5em 1.5em;
            font-size: 1em;
            margin: 1em 1em;
            border-radius: 20px;
            cursor:pointer;
            box-shadow: none;
            white-space: nowrap;
            &:hover {
                background-color: darken($lighter, 10%); 
                border-color: darken($lighter, 10%) ;
            }
          
        }
    }
    
}



