@import "./styles/variables";
body{
    margin: 0;
    padding: 0;
}
.App {
  font-family: 'Roboto', sans-serif;
  background-color: $light;
}
.page-content{
  background-color: $light;
  min-height: 100vh;
}
